.icon-safe32 { background-image: url(../images/safe32.png) !important; }
.icon-controls32 { background-image: url(../images/controls32.png) !important; }
.icon-pen32 { background-image: url(../images/pen32.png) !important; }
.icon-ext4yii32 { background-image: url(../images/ext4yii32.png) !important; }
